.carousel-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.carousel-inner > .carousel-item {
    height: 250px;
    overflow: hidden;
}

.background-simples {
    background-image: url("../images/pag-principal/background-azul.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}
